# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.venv/
.env.local
.env.prod

# Django
db.sqlite3
media/
staticfiles/
static/

# Environment
Bokhar-Frontend/.env
Bokhar-Frontend/.env.dev

.env.*.local

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.coverage
htmlcov/
.pytest_cache/

# Node / React
node_modules/
build/
dist/

# Celery
celerybeat-schedule
celerybeat.pid


# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/
static/

# Environment
Bokhar-Frontend/.env
Bokhat-Frontend/.env
.env.local
.env.*.local
.env.prod

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.coverage
htmlcov/
.pytest_cache/

# Node / React
node_modules/
build/
dist/

# Celery
celerybeat-schedule
celerybeat.pid